### 1. Extraction

##### Tools

In [36]:
### Tools
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import warnings   # para quitar warnings
from chromedriver_py import binary_path # this will get you the path variable
import re

#### Selenium

In [2]:
#!pip install chromedriver-py

In [3]:
url = 'https://m.rbi.org.in/scripts/PublicationsView.aspx?id=20660'

In [4]:
PATH=ChromeDriverManager().install() #PATH

====== WebDriver manager ======
Current google-chrome version is 98.0.4758
Get LATEST chromedriver version for 98.0.4758 google-chrome
Driver [/Users/antoniolopez/.wdm/drivers/chromedriver/mac64/98.0.4758.80/chromedriver] found in cache

In [5]:
driver = webdriver.Chrome(PATH) #Driver
driver.get(url)

/var/folders/xt/vx2zkv116hb1jvz92s1nlr2r0000gn/T/ipykernel_38933/1135884956.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(PATH) #Driver

In [6]:
Table = driver.find_element_by_xpath('//*[@id="doublescroll"]/table[2]/tbody/tr[4]/td/table').text

/var/folders/xt/vx2zkv116hb1jvz92s1nlr2r0000gn/T/ipykernel_38933/1913518297.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Table = driver.find_element_by_xpath('//*[@id="doublescroll"]/table[2]/tbody/tr[4]/td/table').text

In [7]:
driver.quit()

In [22]:
Table

'(Thousands)\nState/Union Territory 1951 1961 1971 1981 1991 2001 2011\nAndaman and Nicobar Islands 31 64 115 189 281 356 381\nAndhra Pradesh 31115 35983 43503 53551 66508 76210 84581\nArunachal Pradesh - 337 468 632 865 1098 1384\nAssam 8029 10837 14625 18041 22414 26656 31206\nBihar 29085 34841 42126 52303 64531 82999 104099\nChandigarh 24 120 257 452 642 901 1055\nChhattisgarh 7457 9154 11637 14010 17615 20834 25545\nDadra and Nagar Haveli 42 58 74 104 138 220 344\nDaman and Diu 49 37 63 79 102 158 243\nDelhi 1744 2659 4066 6220 9421 13851 16788\nGoa 547 590 795 1008 1170 1348 1459\nGujarat 16263 20633 26697 34086 41310 50671 60440\nHaryana 5674 7591 10036 12922 16464 21145 25351\nHimachal Pradesh 2386 2812 3460 4281 5171 6078 6865\nJammu and Kashmir 3254 3561 4617 5987 7837 10144 12541\nJharkhand 9697 11606 14227 17612 21844 26946 32988\nKarnataka 19402 23587 29299 37136 44977 52851 61095\nKerala 13549 16904 21347 25454 29099 31841 33406\nLakshadweep 21 24 32 40 52 61 64\nMadhya Pradesh 18615 23218 30017 38169 48566 60348 72627\nMaharashtra 32003 39554 50412 62783 78937 96879 112374\nManipur 578 780 1073 1421 1837 2294 2856\nMeghalaya 606 769 1012 1336 1775 2319 2967\nMizoram 196 266 332 494 690 889 1097\nNagaland 213 369 516 775 1210 1990 1979\nOdisha 14646 17549 21945 26370 31660 36805 41974\nPuducherry 317 369 472 604 808 974 1248\nPunjab 9161 11135 13551 16789 20282 24359 27743\nRajasthan 15971 20156 25766 34262 44006 56507 68548\nSikkim 138 162 210 316 406 541 611\nTamil Nadu 30119 33687 41199 48408 55859 62406 72147\nTripura 639 1142 1556 2053 2757 3199 3674\nUttar Pradesh 60274 70144 83849 105137 132062 166198 199812\nUttarakhand 2946 3611 4493 5726 7051 8489 10086\nWest Bengal 26300 34926 44312 54581 68078 80176 91276\nALL INDIA 361088 439235 548160 683329 846421 1028737 1210855\n-: Not Available.\nNotes: 1. In Arunachal Pradesh, the census was conducted for the first time in 1961.\n2. The 1981 Census could not be held in Assam. Total Population for 1981 has been worked out by Interpolation.\n3. The 1991 Census could not be held in Jammu and Kashmir. Total Population for 1991 has been worked out by Interpolation.\n4. India and Manipur figures include estimated population for those of the three sub-divisions viz., Mao Maram, Paomata and Purul of Senapati district of Manipur as census result of 2001 in these three sub-divisions were cancelled due to technical and administrative reasons.\n5. Efforts have been made to cover newly created States, wherever possible.\nSource: Economic Survey, Government of India, various issues.'

In [12]:
step_1_rep = Table.split('\n')

In [38]:
table_1 = [[step_1_rep[1:38][i]] for i in range(len(step_1_rep[1:38]))]

In [40]:
table_1[1]

['Andaman and Nicobar Islands 31 64 115 189 281 356 381']

In [ ]:
#con regex atrapar los nombres de los paises y lo que siga introducirlo como key 
re.findall("[A-Z]\w+\/\w+.+|[A-Z]\w+.+\'", string)

In [ ]:
table = {re.findall('',k):re.findall('',v) for k,v in zip(Table)}

In [72]:
countries = [''.join(re.sub(r'[^a-zA-Z]',' ' , i)) for i in step_1_rep[1:38]]
# Using the method sub ( substitude) from Regex, we substitude all the numbers for a space, the space will be strip late on with the lstrip funtion.

In [73]:
countries = [s.rstrip() for s in countries] 
#Here countries are clean!

In [74]:
countries

['State Union Territory',
 'Andaman and Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra and Nagar Haveli',
 'Daman and Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal',
 'ALL INDIA']

In [108]:
values = [''.join(re.findall(r'[^a-zA-Z\/]', i)) for i in step_1_rep[1:38]]
# Extract the values, and also exclude the '/' character.

In [228]:
values_1 = [d.replace('-','0')for d in values]
# Sustitude '-' for a cero.

In [232]:
values_2 = [r.lstrip() for r in values_1]
# Eliminate the left spaces

In [237]:
values_3 = [re.sub(' ',',',c) for c in values_2]
# Substitude the spaces between the numbers with comas

In [239]:
values_4 = [list(map(int,values_3[c].split(','))) for c in range(len(values_3))]
# INCREDIBLYYYYY!!! we remove the single quotes of each list!!!

In [335]:
values_4[1]

[31, 64, 115, 189, 281, 356, 381]

In [340]:
df_1 = {countries[0]:countries[1:],
        str(values_4[0])[1:-1]: touple(i for i in values_4[1:]}

SyntaxError: invalid syntax (3227225340.py, line 2)

In [356]:
y = tuple(values_4[1:])

In [359]:
def listToStringWithoutBrackets(list1):
    return str(list1).replace('(','').replace(')','')

In [362]:
e = listToStringWithoutBrackets(y)

In [366]:
i = re.sub("'"," ",e)

In [375]:
def rq(list1):
    return dict('name',list1).replace("'",'').replace("'",'')

In [376]:
rq(y)

TypeError: dict expected at most 1 argument, got 2

In [379]:
e.strip("'")

'[31, 64, 115, 189, 281, 356, 381], [31115, 35983, 43503, 53551, 66508, 76210, 84581], [0, 337, 468, 632, 865, 1098, 1384], [8029, 10837, 14625, 18041, 22414, 26656, 31206], [29085, 34841, 42126, 52303, 64531, 82999, 104099], [24, 120, 257, 452, 642, 901, 1055], [7457, 9154, 11637, 14010, 17615, 20834, 25545], [42, 58, 74, 104, 138, 220, 344], [49, 37, 63, 79, 102, 158, 243], [1744, 2659, 4066, 6220, 9421, 13851, 16788], [547, 590, 795, 1008, 1170, 1348, 1459], [16263, 20633, 26697, 34086, 41310, 50671, 60440], [5674, 7591, 10036, 12922, 16464, 21145, 25351], [2386, 2812, 3460, 4281, 5171, 6078, 6865], [3254, 3561, 4617, 5987, 7837, 10144, 12541], [9697, 11606, 14227, 17612, 21844, 26946, 32988], [19402, 23587, 29299, 37136, 44977, 52851, 61095], [13549, 16904, 21347, 25454, 29099, 31841, 33406], [21, 24, 32, 40, 52, 61, 64], [18615, 23218, 30017, 38169, 48566, 60348, 72627], [32003, 39554, 50412, 62783, 78937, 96879, 112374], [578, 780, 1073, 1421, 1837, 2294, 2856], [606, 769, 1012, 1336, 1775, 2319, 2967], [196, 266, 332, 494, 690, 889, 1097], [213, 369, 516, 775, 1210, 1990, 1979], [14646, 17549, 21945, 26370, 31660, 36805, 41974], [317, 369, 472, 604, 808, 974, 1248], [9161, 11135, 13551, 16789, 20282, 24359, 27743], [15971, 20156, 25766, 34262, 44006, 56507, 68548], [138, 162, 210, 316, 406, 541, 611], [30119, 33687, 41199, 48408, 55859, 62406, 72147], [639, 1142, 1556, 2053, 2757, 3199, 3674], [60274, 70144, 83849, 105137, 132062, 166198, 199812], [2946, 3611, 4493, 5726, 7051, 8489, 10086], [26300, 34926, 44312, 54581, 68078, 80176, 91276], [361088, 439235, 548160, 683329, 846421, 1028737, 1210855]'

In [381]:
values_4[1:]

[[31, 64, 115, 189, 281, 356, 381],
 [31115, 35983, 43503, 53551, 66508, 76210, 84581],
 [0, 337, 468, 632, 865, 1098, 1384],
 [8029, 10837, 14625, 18041, 22414, 26656, 31206],
 [29085, 34841, 42126, 52303, 64531, 82999, 104099],
 [24, 120, 257, 452, 642, 901, 1055],
 [7457, 9154, 11637, 14010, 17615, 20834, 25545],
 [42, 58, 74, 104, 138, 220, 344],
 [49, 37, 63, 79, 102, 158, 243],
 [1744, 2659, 4066, 6220, 9421, 13851, 16788],
 [547, 590, 795, 1008, 1170, 1348, 1459],
 [16263, 20633, 26697, 34086, 41310, 50671, 60440],
 [5674, 7591, 10036, 12922, 16464, 21145, 25351],
 [2386, 2812, 3460, 4281, 5171, 6078, 6865],
 [3254, 3561, 4617, 5987, 7837, 10144, 12541],
 [9697, 11606, 14227, 17612, 21844, 26946, 32988],
 [19402, 23587, 29299, 37136, 44977, 52851, 61095],
 [13549, 16904, 21347, 25454, 29099, 31841, 33406],
 [21, 24, 32, 40, 52, 61, 64],
 [18615, 23218, 30017, 38169, 48566, 60348, 72627],
 [32003, 39554, 50412, 62783, 78937, 96879, 112374],
 [578, 780, 1073, 1421, 1837, 2294, 2856],
 [606, 769, 1012, 1336, 1775, 2319, 2967],
 [196, 266, 332, 494, 690, 889, 1097],
 [213, 369, 516, 775, 1210, 1990, 1979],
 [14646, 17549, 21945, 26370, 31660, 36805, 41974],
 [317, 369, 472, 604, 808, 974, 1248],
 [9161, 11135, 13551, 16789, 20282, 24359, 27743],
 [15971, 20156, 25766, 34262, 44006, 56507, 68548],
 [138, 162, 210, 316, 406, 541, 611],
 [30119, 33687, 41199, 48408, 55859, 62406, 72147],
 [639, 1142, 1556, 2053, 2757, 3199, 3674],
 [60274, 70144, 83849, 105137, 132062, 166198, 199812],
 [2946, 3611, 4493, 5726, 7051, 8489, 10086],
 [26300, 34926, 44312, 54581, 68078, 80176, 91276],
 [361088, 439235, 548160, 683329, 846421, 1028737, 1210855]]