### 1. Extraction

##### Tools

In [1]:
### Tools
import requests as req

import pandas as pd
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import warnings   # para quitar warnings
from chromedriver_py import binary_path # this will get you the path variable
import re

#### 1st Method: Selenium

In [2]:
#!pip install chromedriver-py

In [3]:
url = 'https://m.rbi.org.in/scripts/PublicationsView.aspx?id=20660'

In [4]:
PATH=ChromeDriverManager().install() #PATH

====== WebDriver manager ======
Current google-chrome version is 98.0.4758
Get LATEST chromedriver version for 98.0.4758 google-chrome
Driver [/Users/antoniolopez/.wdm/drivers/chromedriver/mac64/98.0.4758.80/chromedriver] found in cache

In [5]:
driver = webdriver.Chrome(PATH) #Driver
driver.get(url)

/var/folders/xt/vx2zkv116hb1jvz92s1nlr2r0000gn/T/ipykernel_54701/1135884956.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(PATH) #Driver

In [6]:
Table = driver.find_element_by_xpath('//*[@id="doublescroll"]/table[2]/tbody/tr[4]/td/table').text

/var/folders/xt/vx2zkv116hb1jvz92s1nlr2r0000gn/T/ipykernel_54701/1913518297.py:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  Table = driver.find_element_by_xpath('//*[@id="doublescroll"]/table[2]/tbody/tr[4]/td/table').text

In [7]:
driver.quit()

In [8]:
Table[1:5]

'Thou'

In [9]:
step_1 = Table.split('\n')

In [10]:
States_1 = [''.join(re.sub(r'[^a-zA-Z]',' ' , i)) for i in step_1[1:38]]
# Extract States ----Using the method sub ( substitude) from Regex, we substitude all the numbers for a space, the space will be strip late on with the lstrip funtion.

In [11]:
States_2 = [s.rstrip() for s in States_1] 
#Here countries are clean!

In [12]:
States_2[1:-1]

['Andaman and Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra and Nagar Haveli',
 'Daman and Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

In [13]:
values = [''.join(re.findall(r'[^a-zA-Z\/]', i)) for i in step_1[1:38]]
# Extract the values-----, and also exclude the '/' character.

In [14]:
values_1 = [d.replace('-','0')for d in values]
# Sustitude '-' for a cero.

In [15]:
values_2 = [r.lstrip() for r in values_1]
# Eliminate the left spaces

In [16]:
values_3 = [re.sub(' ',',',c) for c in values_2]
# Substitude the spaces between the numbers with comas

In [17]:
values_4 = [list(map(int,values_3[c].split(','))) for c in range(len(values_3))]
# INCREDIBLYYYYY!!! we remove the single quotes of each list!!!
#I tried to use map function with out a converting it into a list, buuut, to unpack map objects it seems that need to be converted into list.

In [18]:
values_4[2]

[31115, 35983, 43503, 53551, 66508, 76210, 84581]

In [19]:
values_5 = tuple(values_4[1:])

In [20]:
def db(list1):
    return str(list1).replace('(','').replace(')','')

In [21]:
Test_1 = db(values_5) # porque me permite copiar el data set (directamente de aqui), pero si lo copio de una lista de lista no me lo permite??

In [22]:
values_6 = [31, 64, 115, 189, 281, 356, 381], [31115, 35983, 43503, 53551, 66508, 76210, 84581], [0, 337, 468, 632, 865, 1098, 1384], [8029, 10837, 14625, 18041, 22414, 26656, 31206], [29085, 34841, 42126, 52303, 64531, 82999, 104099], [24, 120, 257, 452, 642, 901, 1055], [7457, 9154, 11637, 14010, 17615, 20834, 25545], [42, 58, 74, 104, 138, 220, 344], [49, 37, 63, 79, 102, 158, 243], [1744, 2659, 4066, 6220, 9421, 13851, 16788], [547, 590, 795, 1008, 1170, 1348, 1459], [16263, 20633, 26697, 34086, 41310, 50671, 60440], [5674, 7591, 10036, 12922, 16464, 21145, 25351], [2386, 2812, 3460, 4281, 5171, 6078, 6865], [3254, 3561, 4617, 5987, 7837, 10144, 12541], [9697, 11606, 14227, 17612, 21844, 26946, 32988], [19402, 23587, 29299, 37136, 44977, 52851, 61095], [13549, 16904, 21347, 25454, 29099, 31841, 33406], [21, 24, 32, 40, 52, 61, 64], [18615, 23218, 30017, 38169, 48566, 60348, 72627], [32003, 39554, 50412, 62783, 78937, 96879, 112374], [578, 780, 1073, 1421, 1837, 2294, 2856], [606, 769, 1012, 1336, 1775, 2319, 2967], [196, 266, 332, 494, 690, 889, 1097], [213, 369, 516, 775, 1210, 1990, 1979], [14646, 17549, 21945, 26370, 31660, 36805, 41974], [317, 369, 472, 604, 808, 974, 1248], [9161, 11135, 13551, 16789, 20282, 24359, 27743], [15971, 20156, 25766, 34262, 44006, 56507, 68548], [138, 162, 210, 316, 406, 541, 611], [30119, 33687, 41199, 48408, 55859, 62406, 72147], [639, 1142, 1556, 2053, 2757, 3199, 3674], [60274, 70144, 83849, 105137, 132062, 166198, 199812], [2946, 3611, 4493, 5726, 7051, 8489, 10086], [26300, 34926, 44312, 54581, 68078, 80176, 91276], [361088, 439235, 548160, 683329, 846421, 1028737, 1210855]

In [23]:
df_c = pd.DataFrame({'States':States_2[1:-1]})

In [24]:
df_n = pd.DataFrame({'years': values_6})

In [25]:
df_n_1 = df_n.years.apply(pd.Series)
# To covert the lists in different columns!! INFUCKING CREDIBLE

In [26]:
df_n_1.columns = ['1951', '1961','1971', '1981', '1991', '2001', '2011']

In [27]:
df_population = pd.concat([df_c, df_n_1], axis=1, join='inner') 
# Multiply all numbers by 1000.

In [28]:
df_population.sort_values(by="States",ascending=True)

,States,1951,1961,1971,1981,1991,2001,2011
0,Andaman and Nicobar Islands,31,64,115,189,281,356,381
1,Andhra Pradesh,31115,35983,43503,53551,66508,76210,84581
2,Arunachal Pradesh,0,337,468,632,865,1098,1384
3,Assam,8029,10837,14625,18041,22414,26656,31206
4,Bihar,29085,34841,42126,52303,64531,82999,104099
5,Chandigarh,24,120,257,452,642,901,1055
6,Chhattisgarh,7457,9154,11637,14010,17615,20834,25545
7,Dadra and Nagar Haveli,42,58,74,104,138,220,344
8,Daman and Diu,49,37,63,79,102,158,243
9,Delhi,1744,2659,4066,6220,9421,13851,16788
10,Goa,547,590,795,1008,1170,1348,1459
11,Gujarat,16263,20633,26697,34086,41310,50671,60440
12,Haryana,5674,7591,10036,12922,16464,21145,25351
13,Himachal Pradesh,2386,2812,3460,4281,5171,6078,6865
14,Jammu and Kashmir,3254,3561,4617,5987,7837,10144,12541
15,Jharkhand,9697,11606,14227,17612,21844,26946,32988
16,Karnataka,19402,23587,29299,37136,44977,52851,61095
17,Kerala,13549,16904,21347,25454,29099,31841,33406
18,Lakshadweep,21,24,32,40,52,61,64
19,Madhya Pradesh,18615,23218,30017,38169,48566,60348,72627
20,Maharashtra,32003,39554,50412,62783,78937,96879,112374
21,Manipur,578,780,1073,1421,1837,2294,2856
22,Meghalaya,606,769,1012,1336,1775,2319,2967
23,Mizoram,196,266,332,494,690,889,1097
24,Nagaland,213,369,516,775,1210,1990,1979
25,Odisha,14646,17549,21945,26370,31660,36805,41974
26,Puducherry,317,369,472,604,808,974,1248
27,Punjab,9161,11135,13551,16789,20282,24359,27743
28,Rajasthan,15971,20156,25766,34262,44006,56507,68548
29,Sikkim,138,162,210,316,406,541,611
30,Tamil Nadu,30119,33687,41199,48408,55859,62406,72147
31,Tripura,639,1142,1556,2053,2757,3199,3674
32,Uttar Pradesh,60274,70144,83849,105137,132062,166198,199812
33,Uttarakhand,2946,3611,4493,5726,7051,8489,10086
34,West Bengal,26300,34926,44312,54581,68078,80176,91276

In [29]:
df_popul = df_population.reset_index(drop=True)

In [30]:
df_popul.sample()

       States  1951  1961  1971  1981  1991  2001  2011
22  Meghalaya   606   769  1012  1336  1775  2319  2967

In [31]:
df_popul.shape

(35, 8)

#### 2nd Method: Panda's Library

#### Tools:

In [32]:
#import requests as req
#from bs4 import BeautifulSoup as bs
#import lxml
#import html5lib
#import pandas as pd

In [33]:
data_ec = pd.read_html('https://en.wikipedia.org/wiki/List_of_Indian_states_and_union_territories_by_GDP_per_capita',skiprows=0)[4]

In [34]:
data_copy = data_ec.copy()

In [35]:
df_economy = pd.DataFrame(data_ec)

In [36]:
df_economy.describe()

           Rank
count  33.00000
mean   17.00000
std     9.66954
min     1.00000
25%     9.00000
50%    17.00000
75%    25.00000
max    33.00000

In [37]:
df_economy.columns

Index(['Rank', 'State/Union territory', 'NSDP Per Capita (Nominal)1996–97[4]',
       'NSDP Per Capita (Nominal)2000–01[4]',
       'NSDP Per Capita (Nominal)2005–06[4]',
       'NSDP Per Capita (Nominal)2010–11[4]', 'Growth from 2000–2010'],
      dtype='object')

In [38]:
lista_col = [col.replace(' ','_').lower() for col in df_economy.columns]

In [39]:
df_economy.columns = lista_col

In [40]:
df_economy.sample()

,rank,state/union_territory,nsdp_per_capita_(nominal)1996–97[4],nsdp_per_capita_(nominal)2000–01[4],nsdp_per_capita_(nominal)2005–06[4],nsdp_per_capita_(nominal)2010–11[4],growth_from_2000–2010
21,22,Rajasthan,"₹ 10,102","₹ 13,020","₹ 20,275","₹ 44,644",242%

In [41]:
df_economy.rename(columns={'state/union_territory':'State','nsdp_per_capita_(nominal)1996–97[4]':'1996-97','nsdp_per_capita_(nominal)2000–01[4]':'2000–01','nsdp_per_capita_(nominal)2005–06[4]':'2005-06','nsdp_per_capita_(nominal)2010–11[4]':'2010-11'},inplace=True)

In [42]:
df_economy.drop(['rank'],axis=1,inplace=True)

In [43]:
df_economy.sample()

,State,1996-97,2000–01,2005-06,2010-11,growth_from_2000–2010
26,Madhya Pradesh,"₹ 8,819","₹ 11,862","₹ 16,631","₹ 32,453",173%

In [44]:
df_economy.sort_values(by="State",ascending=True, inplace=True)

In [45]:
df_eco = df_economy.reset_index(drop=True)

In [46]:
df_popul.join(df_eco, lsuffix='_df_popul', rsuffix='_df_eco').sample()

,States,1951,1961,1971,1981,1991,2001,2011,State,1996-97,2000–01,2005-06,2010-11,growth_from_2000–2010
4,Bihar,29085,34841,42126,52303,64531,82999,104099,Bihar,"₹ 4,001","₹ 6,415","₹ 8,223","₹ 19,111",197%

In [47]:
mergeado_1=df_popul.merge(df_eco, left_on='States', right_on='State', suffixes=['_izq', 'dcha'])

In [48]:
mergeado_1

,States,1951,1961,1971,1981,1991,2001,2011,State,1996-97,2000–01,2005-06,2010-11,growth_from_2000–2010
0,Andaman and Nicobar Islands,31,64,115,189,281,356,381,Andaman and Nicobar Islands,"₹ 21,017","₹ 25,047","₹ 44,754","₹ 80,558",283%
1,Andhra Pradesh,31115,35983,43503,53551,66508,76210,84581,Andhra Pradesh,"₹ 11,202","₹ 17,195","₹ 28,223","₹ 58,733",241%
2,Arunachal Pradesh,0,337,468,632,865,1098,1384,Arunachal Pradesh,"₹ 10,816","₹ 15,260","₹ 28,171","₹ 60,961",299%
3,Assam,8029,10837,14625,18041,22414,26656,31206,Assam,"₹ 7,394","₹ 12,803","₹ 18,396","₹ 33,087",158%
4,Bihar,29085,34841,42126,52303,64531,82999,104099,Bihar,"₹ 4,001","₹ 6,415","₹ 8,223","₹ 19,111",197%
5,Chandigarh,24,120,257,452,642,901,1055,Chandigarh,"₹ 31,158","₹ 49,771","₹ 84,993","₹ 1,26,651",154%
6,Chhattisgarh,7457,9154,11637,14010,17615,20834,25545,Chhattisgarh,"₹ 8,353","₹ 10,744","₹ 20,117","₹ 41,165",283%
7,Delhi,1744,2659,4066,6220,9421,13851,16788,Delhi,"₹ 25,952","₹ 40,678","₹ 72,208","₹ 1,45,129",256%
8,Goa,547,590,795,1008,1170,1348,1459,Goa,"₹ 26,418","₹ 43,735","₹ 84,721","₹ 1,68,024",284%
9,Gujarat,16263,20633,26697,34086,41310,50671,60440,Gujarat,"₹ 16,153","₹ 18,392","₹ 37,780","₹ 77,485",321%
10,Haryana,5674,7591,10036,12922,16464,21145,25351,Haryana,"₹ 16,611","₹ 25,583","₹ 42,309","₹ 93,852",266%
11,Himachal Pradesh,2386,2812,3460,4281,5171,6078,6865,Himachal Pradesh,"₹ 11,960","₹ 22,795","₹ 36,949","₹ 68,297",200%
12,Jammu and Kashmir,3254,3561,4617,5987,7837,10144,12541,Jammu and Kashmir,"₹ 8,667","₹ 14,268","₹ 23,240","₹ 40,089",180%
13,Jharkhand,9697,11606,14227,17612,21844,26946,32988,Jharkhand,"₹ 7,235","₹ 10,345","₹ 18,326","₹ 34,721",235%
14,Karnataka,19402,23587,29299,37136,44977,52851,61095,Karnataka,"₹ 11,202","₹ 17,195","₹ 28,987","₹ 66,951",289%
15,Kerala,13549,16904,21347,25454,29099,31841,33406,Kerala,"₹ 13,280","₹ 20,094","₹ 36,958","₹ 69,943",248%
16,Madhya Pradesh,18615,23218,30017,38169,48566,60348,72627,Madhya Pradesh,"₹ 8,819","₹ 11,862","₹ 16,631","₹ 32,453",173%
17,Maharashtra,32003,39554,50412,62783,78937,96879,112374,Maharashtra,"₹ 17,844","₹ 22,777","₹ 41,965","₹ 84,858",375%
18,Manipur,578,780,1073,1421,1837,2294,2856,Manipur,"₹ 7,920","₹ 12,369","₹ 20,251","₹ 28,336",130%
19,Meghalaya,606,769,1012,1336,1775,2319,2967,Meghalaya,"₹ 9,243","₹ 15,657","₹ 24,885","₹ 43,766",179%
20,Mizoram,196,266,332,494,690,889,1097,Mizoram,"₹ 12,210","₹ 17,826","₹ 26,698","₹ 50,956",195%
21,Nagaland,213,369,516,775,1210,1990,1979,Nagaland,"₹ 11,805","₹ 16,253","₹ 33,792","₹ 55,582",241%
22,Odisha,14646,17549,21945,26370,31660,36805,41974,Odisha,"₹ 6,548","₹ 10,453","₹ 18,846","₹ 39,537",278%
23,Puducherry,317,369,472,604,808,974,1248,Puducherry,"₹ 18,631","₹ 35,994","₹ 67,205","₹ 1,01,072",180%
24,Punjab,9161,11135,13551,16789,20282,24359,27743,Punjab,"₹ 17,353","₹ 27,881","₹ 36,199","₹ 69,582",149%
25,Rajasthan,15971,20156,25766,34262,44006,56507,68548,Rajasthan,"₹ 10,102","₹ 13,020","₹ 20,275","₹ 44,644",242%
26,Sikkim,138,162,210,316,406,541,611,Sikkim,"₹ 11,332","₹ 16,077","₹ 30,252","₹ 1,08,972",577%
27,Tamil Nadu,30119,33687,41199,48408,55859,62406,72147,Tamil Nadu,"₹ 11,670","₹ 18,344","₹ 31,239","₹ 62,251",240%
28,Tripura,639,1142,1556,2053,2757,3199,3674,Tripura,"₹ 8,109","₹ 15,983","₹ 26,668","₹ 46,050",188%
29,Uttar Pradesh,60274,70144,83849,105137,132062,166198,199812,Uttar Pradesh,"₹ 7,476","₹ 9,828","₹ 14,221","₹ 26,698",171%
30,Uttarakhand,2946,3611,4493,5726,7051,8489,10086,Uttarakhand,"₹ 9,334","₹ 15,285","₹ 29,441","₹ 73,819",446%
31,West Bengal,26300,34926,44312,54581,68078,80176,91276,West Bengal,"₹ 9,857","₹ 16,583","₹ 24,720","₹ 47,245",184%

##### Pandas Method:

In [49]:
data_covid = pd.read_html('https://prsindia.org/covid-19/cases',skiprows=0)[0]

In [50]:
df_covid = pd.DataFrame(data_covid)

In [51]:
df_covid.describe()

,#,Confirmed Cases,Active Cases,Cured/Discharged,Death
count,36.000000,3.700000e+01,3.700000e+01,3.700000e+01,37.000000
mean,18.500000,2.274630e+06,7.198097e+04,2.175562e+06,27087.243243
std,10.535654,6.937848e+06,2.236040e+05,6.633935e+06,83973.986020
min,1.000000,9.883000e+03,1.070000e+02,9.543000e+03,4.000000
25%,9.750000,1.006370e+05,2.099000e+03,9.853700e+04,1135.000000
50%,18.500000,7.206780e+05,1.432100e+04,7.008560e+05,6533.000000
75%,27.250000,1.262102e+06,3.641100e+04,1.228976e+06,14646.000000
max,36.000000,4.208066e+07,1.331648e+06,4.024790e+07,501114.000000

In [52]:
df_covid.sample()

,#,State/UT,Confirmed Cases,Active Cases,Cured/Discharged,Death
7,8.0,Dadra and Nagar Haveli and Daman and Diu,11392,107,11281,4

In [53]:
df_covid.sort_values(by="State/UT",ascending=True).head()

,#,State/UT,Confirmed Cases,Active Cases,Cured/Discharged,Death
0,1.0,Andaman and Nicobar Islands,9883,211,9543,129
1,2.0,Andhra Pradesh,2297369,88364,2194359,14646
2,3.0,Arunachal Pradesh,63315,1985,61039,291
3,4.0,Assam,720678,13289,700856,6533
4,5.0,Bihar,826575,3238,811103,12234

In [54]:
df_covid.rename(columns={'State/UT':'State','Cured/Discharged':'Cured'},inplace=True)

In [55]:
df_covid.sample()

     #           State  Confirmed Cases  Active Cases    Cured  Death
1  2.0  Andhra Pradesh          2297369         88364  2194359  14646

In [56]:
df_covid.drop(['#'],axis=1,inplace=True)

In [57]:
df_covid_19 = df_covid.reset_index(drop=True)

In [58]:
df_covid_19.sample()

     State  Confirmed Cases  Active Cases    Cured  Death
25  Odisha          1262102         24437  1228976   8689

In [59]:
df_covid_19.shape

(37, 5)

In [60]:
mergeado_2=mergeado_1.merge(df_covid, left_on='States', right_on='State', suffixes=['_izq', 'dcha'])

In [61]:
mergeado_2

,States,1951,1961,1971,1981,1991,2001,2011,State_izq,1996-97,2000–01,2005-06,2010-11,growth_from_2000–2010,Statedcha,Confirmed Cases,Active Cases,Cured,Death
0,Andaman and Nicobar Islands,31,64,115,189,281,356,381,Andaman and Nicobar Islands,"₹ 21,017","₹ 25,047","₹ 44,754","₹ 80,558",283%,Andaman and Nicobar Islands,9883,211,9543,129
1,Andhra Pradesh,31115,35983,43503,53551,66508,76210,84581,Andhra Pradesh,"₹ 11,202","₹ 17,195","₹ 28,223","₹ 58,733",241%,Andhra Pradesh,2297369,88364,2194359,14646
2,Arunachal Pradesh,0,337,468,632,865,1098,1384,Arunachal Pradesh,"₹ 10,816","₹ 15,260","₹ 28,171","₹ 60,961",299%,Arunachal Pradesh,63315,1985,61039,291
3,Assam,8029,10837,14625,18041,22414,26656,31206,Assam,"₹ 7,394","₹ 12,803","₹ 18,396","₹ 33,087",158%,Assam,720678,13289,700856,6533
4,Bihar,29085,34841,42126,52303,64531,82999,104099,Bihar,"₹ 4,001","₹ 6,415","₹ 8,223","₹ 19,111",197%,Bihar,826575,3238,811103,12234
5,Chandigarh,24,120,257,452,642,901,1055,Chandigarh,"₹ 31,158","₹ 49,771","₹ 84,993","₹ 1,26,651",154%,Chandigarh,90481,2099,87247,1135
6,Chhattisgarh,7457,9154,11637,14010,17615,20834,25545,Chhattisgarh,"₹ 8,353","₹ 10,744","₹ 20,117","₹ 41,165",283%,Chhattisgarh,1136435,18686,1103835,13914
7,Delhi,1744,2659,4066,6220,9421,13851,16788,Delhi,"₹ 25,952","₹ 40,678","₹ 72,208","₹ 1,45,129",256%,Delhi,1840919,11716,1803251,25952
8,Goa,547,590,795,1008,1170,1348,1459,Goa,"₹ 26,418","₹ 43,735","₹ 84,721","₹ 1,68,024",284%,Goa,241684,5968,231989,3727
9,Gujarat,16263,20633,26697,34086,41310,50671,60440,Gujarat,"₹ 16,153","₹ 18,392","₹ 37,780","₹ 77,485",321%,Gujarat,1191634,57521,1123499,10614
10,Haryana,5674,7591,10036,12922,16464,21145,25351,Haryana,"₹ 16,611","₹ 25,583","₹ 42,309","₹ 93,852",266%,Haryana,961339,16877,934090,10372
11,Himachal Pradesh,2386,2812,3460,4281,5171,6078,6865,Himachal Pradesh,"₹ 11,960","₹ 22,795","₹ 36,949","₹ 68,297",200%,Himachal Pradesh,275496,7539,263931,4026
12,Jammu and Kashmir,3254,3561,4617,5987,7837,10144,12541,Jammu and Kashmir,"₹ 8,667","₹ 14,268","₹ 23,240","₹ 40,089",180%,Jammu and Kashmir,443891,24080,415109,4702
13,Jharkhand,9697,11606,14227,17612,21844,26946,32988,Jharkhand,"₹ 7,235","₹ 10,345","₹ 18,326","₹ 34,721",235%,Jharkhand,430803,3055,422440,5308
14,Karnataka,19402,23587,29299,37136,44977,52851,61095,Karnataka,"₹ 11,202","₹ 17,195","₹ 28,987","₹ 66,951",289%,Karnataka,3875724,123131,3713343,39250
15,Kerala,13549,16904,21347,25454,29099,31841,33406,Kerala,"₹ 13,280","₹ 20,094","₹ 36,958","₹ 69,943",248%,Kerala,6211116,366871,5786949,57296
16,Madhya Pradesh,18615,23218,30017,38169,48566,60348,72627,Madhya Pradesh,"₹ 8,819","₹ 11,862","₹ 16,631","₹ 32,453",173%,Madhya Pradesh,995049,51019,933382,10648
17,Maharashtra,32003,39554,50412,62783,78937,96879,112374,Maharashtra,"₹ 17,844","₹ 22,777","₹ 41,965","₹ 84,858",375%,Maharashtra,7782640,147941,7491759,142940
18,Manipur,578,780,1073,1421,1837,2294,2856,Manipur,"₹ 7,920","₹ 12,369","₹ 20,251","₹ 28,336",130%,Manipur,134444,3893,128494,2057
19,Meghalaya,606,769,1012,1336,1775,2319,2967,Meghalaya,"₹ 9,243","₹ 15,657","₹ 24,885","₹ 43,766",179%,Meghalaya,92021,1839,88644,1538
20,Mizoram,196,266,332,494,690,889,1097,Mizoram,"₹ 12,210","₹ 17,826","₹ 26,698","₹ 50,956",195%,Mizoram,183473,14999,167853,621
21,Nagaland,213,369,516,775,1210,1990,1979,Nagaland,"₹ 11,805","₹ 16,253","₹ 33,792","₹ 55,582",241%,Nagaland,34759,787,33235,737
22,Odisha,14646,17549,21945,26370,31660,36805,41974,Odisha,"₹ 6,548","₹ 10,453","₹ 18,846","₹ 39,537",278%,Odisha,1262102,24437,1228976,8689
23,Puducherry,317,369,472,604,808,974,1248,Puducherry,"₹ 18,631","₹ 35,994","₹ 67,205","₹ 1,01,072",180%,Puducherry,163563,5458,156159,1946
24,Punjab,9161,11135,13551,16789,20282,24359,27743,Punjab,"₹ 17,353","₹ 27,881","₹ 36,199","₹ 69,582",149%,Punjab,750272,14321,718559,17392
25,Rajasthan,15971,20156,25766,34262,44006,56507,68548,Rajasthan,"₹ 10,102","₹ 13,020","₹ 20,275","₹ 44,644",242%,Rajasthan,1235071,54869,1170849,9353
26,Sikkim,138,162,210,316,406,541,611,Sikkim,"₹ 11,332","₹ 16,077","₹ 30,252","₹ 1,08,972",577%,Sikkim,38525,655,37437,433
27,Tamil Nadu,30119,33687,41199,48408,55859,62406,72147,Tamil Nadu,"₹ 11,670","₹ 18,344","₹ 31,239","₹ 62,251",240%,Tamil Nadu,3397238,155329,3204213,37696
28,Tripura,639,1142,1556,2053,2757,3199,3674,Tripura,"₹ 8,109","₹ 15,983","₹ 26,668","₹ 46,050",188%,Tripura,100637,1184,98537,916
29,Uttar Pradesh,60274,70144,83849,105137,132062,166198,199812,Uttar Pradesh,"₹ 7,476","₹ 9,828","₹ 14,221","₹ 26,698",171%,Uttar Pradesh,2038222,36411,1978525,23286
30,Uttarakhand,2946,3611,4493,5726,7051,8489,10086,Uttarakhand,"₹ 9,334","₹ 15,285","₹ 29,441","₹ 73,819",446%,Uttarakhand,428110,21358,399156,7596
31,West Bengal,26300,34926,44312,54581,68078,80176,91276,West Bengal,"₹ 9,857","₹ 16,583","₹ 24,720","₹ 47,245",184%,West Bengal,2003692,20213,1962721,20758