## 2_TRANSFORMATION.

In [1]:
import pandas as pd

#### 1. Table_1 POPULATION EVOLUTION INDIA

In [2]:
df_n_1 = pd.read_csv('data/DF_India_Population_Extrac.csv',encoding = "ISO-8859-1")

In [3]:
df_c = pd.read_csv('data/DF_India_States.csv',encoding = "ISO-8859-1")

In [4]:
df_c.sample()

       States
22  Meghalaya

In [5]:
df_n_1.sample()

   1951  1961  1971  1981  1991  2001  2011
0    31    64   115   189   281   356   381

In [6]:
df_popul = pd.concat([df_c, df_n_1], axis=1, join='inner')

In [7]:
df_population = pd.DataFrame(df_popul)

In [8]:
df_population.sample(3)

                    States   1951   1961   1971   1981   1991   2001   2011
15               Jharkhand   9697  11606  14227  17612  21844  26946  32988
7   Dadra and Nagar Haveli     42     58     74    104    138    220    344
1           Andhra Pradesh  31115  35983  43503  53551  66508  76210  84581

* I sorted the data by State names, in ascending order. Although it wasn't strictly nessesary, since the Pandas 'merge()' method, will automatically, match the value names that are equal. Even though sortering the data was useful to have a clear view of the merging process.

In [9]:
df_population.sort_values(by="States",ascending=True, inplace=True)

In [10]:
df_population.reset_index(drop=True).sample(2)

               States  1951  1961  1971  1981  1991   2001   2011
14  Jammu and Kashmir  3254  3561  4617  5987  7837  10144  12541
2   Arunachal Pradesh     0   337   468   632   865   1098   1384

In [11]:
df_population.sample(3)

    States   1951   1961   1971   1981   1991   2001    2011
29  Sikkim    138    162    210    316    406    541     611
4    Bihar  29085  34841  42126  52303  64531  82999  104099
10     Goa    547    590    795   1008   1170   1348    1459

In [12]:
df_population.shape

(35, 8)

In [13]:
df_population.to_csv('data/DF_India_Population.csv',index=False)

#### 2. Table_2 INDIA EVOLUTION ECONOMY

In [14]:
df_economy = pd.read_csv("data/DF_India_nsdp_per_capita_Extract.csv",encoding = "ISO-8859-1")

In [15]:
df_economy.sort_values(by="State",ascending=True, inplace=True)

In [16]:
df_economy.reset_index(drop=True).head(1)

,State,1996_to_1997,2000_to_2001,2005_to_2006,2010_to_2011,Growth_from_2000_to_2010
0,Andaman and Nicobar Islands,21017,25047,44754,80558,283%

In [17]:
df_economy.head(1)

,State,1996_to_1997,2000_to_2001,2005_to_2006,2010_to_2011,Growth_from_2000_to_2010
14,Andaman and Nicobar Islands,21017,25047,44754,80558,283%

In [18]:
df_economy.shape

(33, 6)

In [19]:
df_economy.to_csv('data/DF_India_Economy.csv',index=False)

#####  MERGING_1, POPULATION EVOLUTION INDIA &  NSD PER CAPITA INDIA.

In [20]:
MERGE_1 = df_population.merge(df_economy, left_on='States', right_on='State', suffixes=['_izq', 'dcha'])

In [21]:
MERGE_1.head(3)

,States,1951,1961,1971,1981,1991,2001,2011,State,1996_to_1997,2000_to_2001,2005_to_2006,2010_to_2011,Growth_from_2000_to_2010
0,Andaman and Nicobar Islands,31,64,115,189,281,356,381,Andaman and Nicobar Islands,21017,25047,44754,80558,283%
1,Andhra Pradesh,31115,35983,43503,53551,66508,76210,84581,Andhra Pradesh,11202,17195,28223,58733,241%
2,Arunachal Pradesh,0,337,468,632,865,1098,1384,Arunachal Pradesh,10816,15260,28171,60961,299%

#### 3. Table_3 COVID INCIDENTS BY REGION INDIA

In [22]:
df_covid = pd.read_csv("data/DF_India_Covid_Incidents_Extract.csv",encoding = "ISO-8859-1")

In [23]:
df_covid.sort_values(by="State",ascending=True, inplace=True)

In [24]:
df_covid.sample()

        State  Confirmed Cases  Active Cases    Cured  Death
15  Karnataka          3902309         87114  3775799  39396

In [25]:
df_covid.shape

(37, 5)

In [26]:
df_covid.to_csv('data/DF_India_Covid.csv',index=False)

#### MERGING_2  POPULATION EVOLUTION INDIA &  NSD PER CAPITA INDIA & COVID INCIDENTS BY REGION INDIA

In [27]:
MERGE_2 = MERGE_1.merge(df_covid, left_on='States', right_on='State', suffixes=['_izq', 'dcha'])

In [28]:
MERGE_2.head(3)

,States,1951,1961,1971,1981,1991,2001,2011,State_izq,1996_to_1997,2000_to_2001,2005_to_2006,2010_to_2011,Growth_from_2000_to_2010,Statedcha,Confirmed Cases,Active Cases,Cured,Death
0,Andaman and Nicobar Islands,31,64,115,189,281,356,381,Andaman and Nicobar Islands,21017,25047,44754,80558,283%,Andaman and Nicobar Islands,9925,192,9604,129
1,Andhra Pradesh,31115,35983,43503,53551,66508,76210,84581,Andhra Pradesh,11202,17195,28223,58733,241%,Andhra Pradesh,2305052,62395,2227985,14672
2,Arunachal Pradesh,0,337,468,632,865,1098,1384,Arunachal Pradesh,10816,15260,28171,60961,299%,Arunachal Pradesh,63619,1443,61884,292