## 3_LOAD

##### Tools

In [1]:
import mysql.connector as mysql # Stablish connection to MySQL

from mysql.connector import MySQLConnection # Using class for cunction 

import mysql.connector as conn # Calling config files???

#from python_to_myql_config import read_db_config

import pandas as pd

import csv

**CREO NUEVA BASE DE DATOS, LLAMADA india**

In [ ]:
#mycursor.execute('create database india')

Stablishing connection:

In [42]:
cnx = conn.connect(host='localhost',
                  user='root',
                  password='admin',
                  database= 'india')
#stablishing connection



mycursor = cnx.cursor() # Cursor, allows us to do queries,send/retrive data

# To close connection use:  cnx.close()

In [ ]:
# IS THE SAME AS 'mymursor' db_config = cnx.cursor() #User credentials

**Upload data**

**Create Data Base**

In [14]:
#mycursor.execute('create database india')

#### Delete Data Base

In [ ]:
#mycursor.execute('')

### 1. India Population Growth by Region from 1951 to 2011:

#### 1.1 Import DF_India_Population, look to it's data.

In [19]:
df_popul=pd.read_csv('data/DF_India_Population.csv')

#### See data type of the column, first!

In [20]:
df_popul.dtypes

States    object
1951       int64
1961       int64
1971       int64
1981       int64
1991       int64
2001       int64
2011       int64
dtype: object

### ELIMANTE TABLE!!!
sql = "DROP TABLE India_population"
mycursor.execute(sql)
### ELIMANTE TABLE!!!

#### 1.2 Create table, India_population: 
* Assing the PK (Primary Key) to the column "States_India_ID". 
* Create the columns, 
* Specifying their value types .

In [48]:
sql_1 = """ CREATE TABLE India_population(States_India_ID VARCHAR(50) NOT NULL, 
year_1951 INT NOT NULL, year_1961 INT NOT NULL, year_1971 INT NOT NULL,
year_1981 INT NOT NULL, year_1991 INT NOT NULL, year_2001 INT NOT NULL, year_2011 INT NOT NULL, PRIMARY KEY (States_India_ID))

"""

mycursor.execute(sql_1)

In [49]:
mycursor.execute('select * from India_population')
mycursor.fetchall()

[]

#### 1.3 Insert the data to the  India_population

In [50]:
df_popul=pd.read_csv('data/DF_India_Population.csv')

mycursor.executemany("""
INSERT INTO India_population(States_India_ID, 
year_1951, year_1961, year_1971,year_1981, 
year_1991, year_2001, year_2011) VALUES(%s,%s,%s,%s,%s,%s,%s,%s)
""", list(df_popul.values))

In [58]:
mycursor.execute('select * from India_population ')
len(mycursor.fetchall())

35

#### 1.4 Commit the changes to be updated in the MySQL Server.

In [ ]:
cnx.commit()

### 2. India Net State Domestic Product Per Capita , by Region. (Nominal?-What does it means?).

#### 2.1 Import DF_India_Economy, look to it's data.

In [74]:
df_economy=pd.read_csv('data/DF_India_Economy.csv')

In [75]:
df_economy.dtypes

State                       object
1996_to_1997                 int64
2000_to_2001                 int64
2005_to_2006                 int64
2010_to_2011                 int64
Growth_from_2000_to_2010    object
dtype: object

#### 2.2 Create Table India_NSDP_Evolution:

* Assing the PK (Primary Key) to the column "States_India_ID". 
* Create the columns, 
* Specifying their value types .

In [67]:
sql_2 = """ CREATE TABLE India_NSDP_Evolution(
States_India_ID VARCHAR(50) NOT NULL, 
1996_to_1997 INT NOT NULL, 
2000_to_2001 INT NOT NULL, 
2005_to_2006 INT NOT NULL,
2010_to_2011 INT NOT NULL,
Growth_from_2000_to_2010 VARCHAR(50) NOT NULL, 
PRIMARY KEY (States_India_ID))

"""

mycursor.execute(sql_2)

In [68]:
mycursor.execute('select * from India_NSDP_Evolution')
mycursor.fetchall()

[]

#### 2.3 Insert the data to the  Table India_NSDP_Evolution:

In [69]:
df_Economy=pd.read_csv('data/DF_India_Economy.csv')

mycursor.executemany("""
INSERT INTO India_NSDP_Evolution(
States_India_ID, 
1996_to_1997, 
2000_to_2001,
2005_to_2006,
2010_to_2011, 
Growth_from_2000_to_2010) VALUES(%s,%s,%s,%s,%s,%s)
""", list(df_Economy.values))

In [70]:
mycursor.execute('select * from India_population ')
len(mycursor.fetchall())

35

#### 2.4 Commit the changes to be updated in the MySQL Server.

In [71]:
cnx.commit()

### 3. India Covid cases by Region.

#### 3.1 Check the data types form DF_India_Covid.

In [77]:
df_covid=pd.read_csv('data/DF_India_Covid.csv')

In [78]:
df_covid.dtypes

State              object
Confirmed Cases     int64
Active Cases        int64
Cured               int64
Death               int64
dtype: object

In [88]:
df_covid.head()

                         State  Confirmed Cases  Active Cases    Cured  Death
0  Andaman and Nicobar Islands             9883           211     9543    129
1               Andhra Pradesh          2297369         88364  2194359  14646
2            Arunachal Pradesh            63315          1985    61039    291
3                        Assam           720678         13289   700856   6533
4                        Bihar           826575          3238   811103  12234

#### 3.2 Create Table India_Covid_cases:

* Assing the PK (Primary Key) to the column "States_India_ID". 
* Create the columns, 
* Specifying their value types .

In [79]:
sql_3 = """ CREATE TABLE India_Covid_cases(
States_India_ID VARCHAR(50) NOT NULL, 
Confirmed_Cases INT NOT NULL, 
Active_Cases INT NOT NULL, 
Cured INT NOT NULL,
Death INT NOT NULL,
PRIMARY KEY (States_India_ID))

"""

mycursor.execute(sql_3)

In [80]:
mycursor.execute('select * from India_Covid_cases')
mycursor.fetchall()

[]

#### 3.3 Insert the data to the  Table India_Covid_cases:

In [82]:
df_Covid=pd.read_csv('data/DF_India_Covid.csv')

mycursor.executemany("""
INSERT INTO India_Covid_cases(
States_India_ID, 
Confirmed_Cases, 
Active_Cases,
Cured, Death) VALUES(%s,%s,%s,%s,%s)
""", list(df_Covid.values))

In [83]:
mycursor.execute('select * from India_Covid_cases')
len(mycursor.fetchall())

37

#### 2.4 Commit the changes to be updated in the MySQL Server.

In [87]:
cnx.commit()

### Queries:

#### 1st Querie:

#### Join all tables:

In [94]:
pd.read_sql('''
select *

from India_population

left join India_NSDP_Evolution on India_population.States_India_ID = India_NSDP_Evolution.States_India_ID
left join India_Covid_cases on India_NSDP_Evolution.States_India_ID = India_Covid_cases.States_India_ID
''',cnx)

,States_India_ID,year_1951,year_1961,year_1971,year_1981,year_1991,year_2001,year_2011,States_India_ID,1996_to_1997,2000_to_2001,2005_to_2006,2010_to_2011,Growth_from_2000_to_2010,States_India_ID,Confirmed_Cases,Active_Cases,Cured,Death
0,Andaman and Nicobar Islands,31,64,115,189,281,356,381,Andaman and Nicobar Islands,21017.0,25047.0,44754.0,80558.0,283%,Andaman and Nicobar Islands,9883.0,211.0,9543.0,129.0
1,Andhra Pradesh,31115,35983,43503,53551,66508,76210,84581,Andhra Pradesh,11202.0,17195.0,28223.0,58733.0,241%,Andhra Pradesh,2297369.0,88364.0,2194359.0,14646.0
2,Arunachal Pradesh,0,337,468,632,865,1098,1384,Arunachal Pradesh,10816.0,15260.0,28171.0,60961.0,299%,Arunachal Pradesh,63315.0,1985.0,61039.0,291.0
3,Assam,8029,10837,14625,18041,22414,26656,31206,Assam,7394.0,12803.0,18396.0,33087.0,158%,Assam,720678.0,13289.0,700856.0,6533.0
4,Bihar,29085,34841,42126,52303,64531,82999,104099,Bihar,4001.0,6415.0,8223.0,19111.0,197%,Bihar,826575.0,3238.0,811103.0,12234.0
5,Chandigarh,24,120,257,452,642,901,1055,Chandigarh,31158.0,49771.0,84993.0,126651.0,154%,Chandigarh,90481.0,2099.0,87247.0,1135.0
6,Chhattisgarh,7457,9154,11637,14010,17615,20834,25545,Chhattisgarh,8353.0,10744.0,20117.0,41165.0,283%,Chhattisgarh,1136435.0,18686.0,1103835.0,13914.0
7,Dadra and Nagar Haveli,42,58,74,104,138,220,344,None,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN,NaN
8,Daman and Diu,49,37,63,79,102,158,243,None,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN,NaN
9,Delhi,1744,2659,4066,6220,9421,13851,16788,Delhi,25952.0,40678.0,72208.0,145129.0,256%,Delhi,1840919.0,11716.0,1803251.0,25952.0
10,Goa,547,590,795,1008,1170,1348,1459,Goa,26418.0,43735.0,84721.0,168024.0,284%,Goa,241684.0,5968.0,231989.0,3727.0
11,Gujarat,16263,20633,26697,34086,41310,50671,60440,Gujarat,16153.0,18392.0,37780.0,77485.0,321%,Gujarat,1191634.0,57521.0,1123499.0,10614.0
12,Haryana,5674,7591,10036,12922,16464,21145,25351,Haryana,16611.0,25583.0,42309.0,93852.0,266%,Haryana,961339.0,16877.0,934090.0,10372.0
13,Himachal Pradesh,2386,2812,3460,4281,5171,6078,6865,Himachal Pradesh,11960.0,22795.0,36949.0,68297.0,200%,Himachal Pradesh,275496.0,7539.0,263931.0,4026.0
14,Jammu and Kashmir,3254,3561,4617,5987,7837,10144,12541,Jammu and Kashmir,8667.0,14268.0,23240.0,40089.0,180%,Jammu and Kashmir,443891.0,24080.0,415109.0,4702.0
15,Jharkhand,9697,11606,14227,17612,21844,26946,32988,Jharkhand,7235.0,10345.0,18326.0,34721.0,235%,Jharkhand,430803.0,3055.0,422440.0,5308.0
16,Karnataka,19402,23587,29299,37136,44977,52851,61095,Karnataka,11202.0,17195.0,28987.0,66951.0,289%,Karnataka,3875724.0,123131.0,3713343.0,39250.0
17,Kerala,13549,16904,21347,25454,29099,31841,33406,Kerala,13280.0,20094.0,36958.0,69943.0,248%,Kerala,6211116.0,366871.0,5786949.0,57296.0
18,Lakshadweep,21,24,32,40,52,61,64,None,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN,NaN
19,Madhya Pradesh,18615,23218,30017,38169,48566,60348,72627,Madhya Pradesh,8819.0,11862.0,16631.0,32453.0,173%,Madhya Pradesh,995049.0,51019.0,933382.0,10648.0
20,Maharashtra,32003,39554,50412,62783,78937,96879,112374,Maharashtra,17844.0,22777.0,41965.0,84858.0,375%,Maharashtra,7782640.0,147941.0,7491759.0,142940.0
21,Manipur,578,780,1073,1421,1837,2294,2856,Manipur,7920.0,12369.0,20251.0,28336.0,130%,Manipur,134444.0,3893.0,128494.0,2057.0
22,Meghalaya,606,769,1012,1336,1775,2319,2967,Meghalaya,9243.0,15657.0,24885.0,43766.0,179%,Meghalaya,92021.0,1839.0,88644.0,1538.0
23,Mizoram,196,266,332,494,690,889,1097,Mizoram,12210.0,17826.0,26698.0,50956.0,195%,Mizoram,183473.0,14999.0,167853.0,621.0
24,Nagaland,213,369,516,775,1210,1990,1979,Nagaland,11805.0,16253.0,33792.0,55582.0,241%,Nagaland,34759.0,787.0,33235.0,737.0
25,Odisha,14646,17549,21945,26370,31660,36805,41974,Odisha,6548.0,10453.0,18846.0,39537.0,278%,Odisha,1262102.0,24437.0,1228976.0,8689.0
26,Puducherry,317,369,472,604,808,974,1248,Puducherry,18631.0,35994.0,67205.0,101072.0,180%,Puducherry,163563.0,5458.0,156159.0,1946.0
27,Punjab,9161,11135,13551,16789,20282,24359,27743,Punjab,17353.0,27881.0,36199.0,69582.0,149%,Punjab,750272.0,14321.0,718559.0,17392.0
28,Rajasthan,15971,20156,25766,34262,44006,56507,68548,Rajasthan,10102.0,13020.0,20275.0,44644.0,242%,Rajasthan,1235071.0,54869.0,1170849.0,9353.0
29,Sikkim,138,162,210,316,406,541,611,Sikkim,11332.0,16077.0,30252.0,108972.0,577%,Sikkim,38525.0,655.0,37437.0,433.0
30,Tamil Nadu,30119,33687,41199,48408,55859,62406,72147,Tamil Nadu,11670.0,18344.0,31239.0,62251.0,240%,Tamil Nadu,3397238.0,155329.0,3204213.0,37696.0
31,Tripura,639,1142,1556,2053,2757,3199,3674,Tripura,8109.0,15983.0,26668.0,46050.0,188%,Tripura,100637.0,1184.0,98537.0,916.0
32,Uttar Pradesh,60274,70144,83849,105137,132062,166198,199812,Uttar Pradesh,7476.0,9828.0,14221.0,26698.0,171%,Uttar Pradesh,2038222.0,36411.0,1978525.0,23286.0
33,Uttarakhand,2946,3611,4493,5726,7051,8489,10086,Uttarakhand,9334.0,15285.0,29441.0,73819.0,446%,Uttarakhand,428110.0,21358.0,399156.0,7596.0
34,West Bengal,26300,34926,44312,54581,68078,80176,91276,West Bengal,9857.0,16583.0,24720.0,47245.0,184%,West Bengal,2003692.0,20213.0,1962721.0,20758.0

#### 2nd Query :

#### Convert  Indian Rupee to Euros, 1 = 85.468 . or 1 = 0.0116941

In [ ]:
pd.read_sql('''
select * 

from India_population

left join India_NSDP_Evolution on India_population.States_India_ID = India_NSDP_Evolution.States_India_ID
left join India_Covid_cases on India_NSDP_Evolution.States_India_ID = India_Covid_cases.States_India_ID
''',cnx)

In [ ]:
UPDATE India_NSDP_Evolution SET age=age*2

### Finally, close connection:

In [ ]:
#cnx.close()