## 3_LOAD

##### Tools

In [1]:
import mysql.connector as mysql # Stablish connection to MySQL

from mysql.connector import MySQLConnection # Using class for cunction 

import mysql.connector as conn # Calling config files???

#from python_to_myql_config import read_db_config

import pandas as pd

import csv

**3.1 CREO NUEVA BASE DE DATOS, LLAMADA india**

In [ ]:
#mycursor.execute('create database india')

**Stablishing connection:**

In [42]:
cnx = conn.connect(host='localhost',
                  user='root',
                  password='admin',
                  database= 'india')
#stablishing connection



mycursor = cnx.cursor() # Cursor, allows us to do queries,send/retrive data

#### Delete Data Base

In [ ]:
#mycursor.execute('')

### 1. India Population Growth by Region from 1951 to 2011:

#### 1.1 Import DF_India_Population, look to it's data.

In [19]:
df_popul=pd.read_csv('data/DF_India_Population.csv')

#### See data type of the column, first!

In [20]:
df_popul.dtypes

States    object
1951       int64
1961       int64
1971       int64
1981       int64
1991       int64
2001       int64
2011       int64
dtype: object

### ELIMANTE TABLE!!!
sql = "DROP TABLE India_population"
mycursor.execute(sql)
### ELIMANTE TABLE!!!

#### 1.2 Create table, India_population: 
* Assing the PK (Primary Key) to the column "States_India_ID". 
* Create the columns, 
* Specifying their value types .

In [48]:
sql_1 = """ CREATE TABLE India_population(States_India_ID VARCHAR(50) NOT NULL, 
year_1951 INT NOT NULL, year_1961 INT NOT NULL, year_1971 INT NOT NULL,
year_1981 INT NOT NULL, year_1991 INT NOT NULL, year_2001 INT NOT NULL, year_2011 INT NOT NULL, PRIMARY KEY (States_India_ID))

"""

mycursor.execute(sql_1)

In [49]:
mycursor.execute('select * from India_population')
mycursor.fetchall()

[]

#### 1.3 Insert the data to the  India_population

In [50]:
df_popul=pd.read_csv('data/DF_India_Population.csv')

mycursor.executemany("""
INSERT INTO India_population(States_India_ID, 
year_1951, year_1961, year_1971,year_1981, 
year_1991, year_2001, year_2011) VALUES(%s,%s,%s,%s,%s,%s,%s,%s)
""", list(df_popul.values))

In [58]:
mycursor.execute('select * from India_population ')
len(mycursor.fetchall())

35

#### 1.4 Commit the changes to be updated in the MySQL Server.

In [ ]:
cnx.commit()

### 2. India Net State Domestic Product Per Capita , by Region. (Nominal?-What does it means?).

#### 2.1 Import DF_India_Economy, look to it's data.

In [74]:
df_economy=pd.read_csv('data/DF_India_Economy.csv')

In [75]:
df_economy.dtypes

State                       object
1996_to_1997                 int64
2000_to_2001                 int64
2005_to_2006                 int64
2010_to_2011                 int64
Growth_from_2000_to_2010    object
dtype: object

#### 2.2 Create Table India_NSDP_Evolution:

* Assing the PK (Primary Key) to the column "States_India_ID". 
* Create the columns, 
* Specifying their value types .

In [67]:
sql_2 = """ CREATE TABLE India_NSDP_Evolution(
States_India_ID VARCHAR(50) NOT NULL, 
1996_to_1997 INT NOT NULL, 
2000_to_2001 INT NOT NULL, 
2005_to_2006 INT NOT NULL,
2010_to_2011 INT NOT NULL,
Growth_from_2000_to_2010 VARCHAR(50) NOT NULL, 
PRIMARY KEY (States_India_ID))

"""

mycursor.execute(sql_2)

In [68]:
mycursor.execute('select * from India_NSDP_Evolution')
mycursor.fetchall()

[]

#### 2.3 Insert the data to the  Table India_NSDP_Evolution:

In [69]:
df_Economy=pd.read_csv('data/DF_India_Economy.csv')

mycursor.executemany("""
INSERT INTO India_NSDP_Evolution(
States_India_ID, 
1996_to_1997, 
2000_to_2001,
2005_to_2006,
2010_to_2011, 
Growth_from_2000_to_2010) VALUES(%s,%s,%s,%s,%s,%s)
""", list(df_Economy.values))

In [70]:
mycursor.execute('select * from India_population ')
len(mycursor.fetchall())

35

#### 2.4 Commit the changes to be updated in the MySQL Server.

In [71]:
cnx.commit()

### 3. India Covid cases by Region.

#### 3.1 Check the data types form DF_India_Covid.

In [77]:
df_covid=pd.read_csv('data/DF_India_Covid.csv')

In [78]:
df_covid.dtypes

State              object
Confirmed Cases     int64
Active Cases        int64
Cured               int64
Death               int64
dtype: object

In [88]:
df_covid.head()

                         State  Confirmed Cases  Active Cases    Cured  Death
0  Andaman and Nicobar Islands             9883           211     9543    129
1               Andhra Pradesh          2297369         88364  2194359  14646
2            Arunachal Pradesh            63315          1985    61039    291
3                        Assam           720678         13289   700856   6533
4                        Bihar           826575          3238   811103  12234

#### 3.2 Create Table India_Covid_cases:

* Assing the PK (Primary Key) to the column "States_India_ID". 
* Create the columns, 
* Specifying their value types .

In [79]:
sql_3 = """ CREATE TABLE India_Covid_cases(
States_India_ID VARCHAR(50) NOT NULL, 
Confirmed_Cases INT NOT NULL, 
Active_Cases INT NOT NULL, 
Cured INT NOT NULL,
Death INT NOT NULL,
PRIMARY KEY (States_India_ID))

"""

mycursor.execute(sql_3)

In [80]:
mycursor.execute('select * from India_Covid_cases')
mycursor.fetchall()

[]

#### 3.3 Insert the data to the  Table India_Covid_cases:

In [82]:
df_Covid=pd.read_csv('data/DF_India_Covid.csv')

mycursor.executemany("""
INSERT INTO India_Covid_cases(
States_India_ID, 
Confirmed_Cases, 
Active_Cases,
Cured, Death) VALUES(%s,%s,%s,%s,%s)
""", list(df_Covid.values))

In [83]:
mycursor.execute('select * from India_Covid_cases')
len(mycursor.fetchall())

37

#### 3.4 Commit the changes to be updated in the MySQL Server.

In [87]:
cnx.commit()

### Queries:

#### 1st Querie:

#### Join all tables:

In [125]:
pd.read_sql('''
select *

from India_population

left join India_NSDP_Evolution on India_population.States_India_ID = India_NSDP_Evolution.States_India_ID
left join India_Covid_cases on India_NSDP_Evolution.States_India_ID = India_Covid_cases.States_India_ID
''',cnx).head(15)

,States_India_ID,year_1951,year_1961,year_1971,year_1981,year_1991,year_2001,year_2011,States_India_ID,1996_to_1997,2000_to_2001,2005_to_2006,2010_to_2011,Growth_from_2000_to_2010,States_India_ID,Confirmed_Cases,Active_Cases,Cured,Death
0,Andaman and Nicobar Islands,31,64,115,189,281,356,381,Andaman and Nicobar Islands,21017.0,25047.0,44754.0,80558.0,283%,Andaman and Nicobar Islands,9883.0,211.0,9543.0,129.0
1,Andhra Pradesh,31115,35983,43503,53551,66508,76210,84581,Andhra Pradesh,11202.0,17195.0,28223.0,58733.0,241%,Andhra Pradesh,2297369.0,88364.0,2194359.0,14646.0
2,Arunachal Pradesh,0,337,468,632,865,1098,1384,Arunachal Pradesh,10816.0,15260.0,28171.0,60961.0,299%,Arunachal Pradesh,63315.0,1985.0,61039.0,291.0
3,Assam,8029,10837,14625,18041,22414,26656,31206,Assam,7394.0,12803.0,18396.0,33087.0,158%,Assam,720678.0,13289.0,700856.0,6533.0
4,Bihar,29085,34841,42126,52303,64531,82999,104099,Bihar,4001.0,6415.0,8223.0,19111.0,197%,Bihar,826575.0,3238.0,811103.0,12234.0
5,Chandigarh,24,120,257,452,642,901,1055,Chandigarh,31158.0,49771.0,84993.0,126651.0,154%,Chandigarh,90481.0,2099.0,87247.0,1135.0
6,Chhattisgarh,7457,9154,11637,14010,17615,20834,25545,Chhattisgarh,8353.0,10744.0,20117.0,41165.0,283%,Chhattisgarh,1136435.0,18686.0,1103835.0,13914.0
7,Dadra and Nagar Haveli,42,58,74,104,138,220,344,None,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN,NaN
8,Daman and Diu,49,37,63,79,102,158,243,None,NaN,NaN,NaN,NaN,None,None,NaN,NaN,NaN,NaN
9,Delhi,1744,2659,4066,6220,9421,13851,16788,Delhi,25952.0,40678.0,72208.0,145129.0,256%,Delhi,1840919.0,11716.0,1803251.0,25952.0
10,Goa,547,590,795,1008,1170,1348,1459,Goa,26418.0,43735.0,84721.0,168024.0,284%,Goa,241684.0,5968.0,231989.0,3727.0
11,Gujarat,16263,20633,26697,34086,41310,50671,60440,Gujarat,16153.0,18392.0,37780.0,77485.0,321%,Gujarat,1191634.0,57521.0,1123499.0,10614.0
12,Haryana,5674,7591,10036,12922,16464,21145,25351,Haryana,16611.0,25583.0,42309.0,93852.0,266%,Haryana,961339.0,16877.0,934090.0,10372.0
13,Himachal Pradesh,2386,2812,3460,4281,5171,6078,6865,Himachal Pradesh,11960.0,22795.0,36949.0,68297.0,200%,Himachal Pradesh,275496.0,7539.0,263931.0,4026.0
14,Jammu and Kashmir,3254,3561,4617,5987,7837,10144,12541,Jammu and Kashmir,8667.0,14268.0,23240.0,40089.0,180%,Jammu and Kashmir,443891.0,24080.0,415109.0,4702.0

#### 2nd Queries :

Convert  Indian Rupee to Euros, **1₹ = 0.0116941€**

### **Do an estimation of the actual population in la india:**

In [137]:
pd.read_sql('''
select 
India_population.States_India_ID,
FORMAT(India_population.year_2011,0) as Population_2011,
CONCAT("€",FORMAT((India_NSDP_Evolution.2010_to_2011 * 0.0116941),2)) as NSDP_2010_to_2011,
FORMAT(India_Covid_cases.Confirmed_Cases,0) as Comfirmed_positive,
FORMAT(India_Covid_cases.Cured,0) as Cured,
FORMAT(India_Covid_cases.Death,0) as Death

from India_population

left join India_NSDP_Evolution on India_population.States_India_ID = India_NSDP_Evolution.States_India_ID
left join India_Covid_cases on India_NSDP_Evolution.States_India_ID = India_Covid_cases.States_India_ID
''',cnx)

,States_India_ID,Population_2011,NSDP_2010_to_2011,Comfirmed_positive,Cured,Death
0,Andaman and Nicobar Islands,381,€942.05,"9,883","9,543",129
1,Andhra Pradesh,"84,581",€686.83,"2,297,369","2,194,359","14,646"
2,Arunachal Pradesh,"1,384",€712.88,"63,315","61,039",291
3,Assam,"31,206",€386.92,"720,678","700,856","6,533"
4,Bihar,"104,099",€223.49,"826,575","811,103","12,234"
5,Chandigarh,"1,055","€1,481.07","90,481","87,247","1,135"
6,Chhattisgarh,"25,545",€481.39,"1,136,435","1,103,835","13,914"
7,Dadra and Nagar Haveli,344,None,None,None,None
8,Daman and Diu,243,None,None,None,None
9,Delhi,"16,788","€1,697.15","1,840,919","1,803,251","25,952"
10,Goa,"1,459","€1,964.89","241,684","231,989","3,727"
11,Gujarat,"60,440",€906.12,"1,191,634","1,123,499","10,614"
12,Haryana,"25,351","€1,097.51","961,339","934,090","10,372"
13,Himachal Pradesh,"6,865",€798.67,"275,496","263,931","4,026"
14,Jammu and Kashmir,"12,541",€468.80,"443,891","415,109","4,702"
15,Jharkhand,"32,988",€406.03,"430,803","422,440","5,308"
16,Karnataka,"61,095",€782.93,"3,875,724","3,713,343","39,250"
17,Kerala,"33,406",€817.92,"6,211,116","5,786,949","57,296"
18,Lakshadweep,64,None,None,None,None
19,Madhya Pradesh,"72,627",€379.51,"995,049","933,382","10,648"
20,Maharashtra,"112,374",€992.34,"7,782,640","7,491,759","142,940"
21,Manipur,"2,856",€331.36,"134,444","128,494","2,057"
22,Meghalaya,"2,967",€511.80,"92,021","88,644","1,538"
23,Mizoram,"1,097",€595.88,"183,473","167,853",621
24,Nagaland,"1,979",€649.98,"34,759","33,235",737
25,Odisha,"41,974",€462.35,"1,262,102","1,228,976","8,689"
26,Puducherry,"1,248","€1,181.95","163,563","156,159","1,946"
27,Punjab,"27,743",€813.70,"750,272","718,559","17,392"
28,Rajasthan,"68,548",€522.07,"1,235,071","1,170,849","9,353"
29,Sikkim,611,"€1,274.33","38,525","37,437",433
30,Tamil Nadu,"72,147",€727.97,"3,397,238","3,204,213","37,696"
31,Tripura,"3,674",€538.51,"100,637","98,537",916
32,Uttar Pradesh,"199,812",€312.21,"2,038,222","1,978,525","23,286"
33,Uttarakhand,"10,086",€863.25,"428,110","399,156","7,596"
34,West Bengal,"91,276",€552.49,"2,003,692","1,962,721","20,758"

* Obtener valores en columnas relevantes(POPULATION ,NSDP_2010TO_2011, CURED, DEATH) MIN, MAX, AVERAGE...

#### 3rd Queries:

Look up and Insert the None Data in Tables, India_NSDP_Evolution and India_Covid_cases:
* Dadra and Nagar Haveli
* Daman and Diu

#### 4th Querie:

Select columns, POPULATION ,NSDP_2010_to_2011, CURED, DEATH and get some conclussions.

In [129]:
pd.read_sql('''
select India_NSDP_Evolution.States_India_ID,
CONCAT("€",FORMAT((India_NSDP_Evolution.1996_to_1997 * 0.0116941),2)) as NSDP_1996_to_1997,
CONCAT("€",FORMAT((India_NSDP_Evolution.2000_to_2001 * 0.0116941),2)) as NSDP_2000_to_2001,
CONCAT("€",FORMAT((India_NSDP_Evolution.2005_to_2006 * 0.0116941),2)) as NSDP_2005_to_2006,
CONCAT("€",FORMAT((India_NSDP_Evolution.2010_to_2011 * 0.0116941),2)) as NSDP_2010_to_2011,
FORMAT(Cured,0) as Cured,
FORMAT(Death,0) as Death

from India_population

left join India_NSDP_Evolution on India_population.States_India_ID = India_NSDP_Evolution.States_India_ID
left join India_Covid_cases on India_NSDP_Evolution.States_India_ID = India_Covid_cases.States_India_ID
''',cnx)

,States_India_ID,NSDP_1996_to_1997,NSDP_2000_to_2001,NSDP_2005_to_2006,NSDP_2010_to_2011,Cured,Death
0,Andaman and Nicobar Islands,€245.77,€292.90,€523.36,€942.05,"9,543",129
1,Andhra Pradesh,€131.00,€201.08,€330.04,€686.83,"2,194,359","14,646"
2,Arunachal Pradesh,€126.48,€178.45,€329.43,€712.88,"61,039",291
3,Assam,€86.47,€149.72,€215.12,€386.92,"700,856","6,533"
4,Bihar,€46.79,€75.02,€96.16,€223.49,"811,103","12,234"
5,Chandigarh,€364.36,€582.03,€993.92,"€1,481.07","87,247","1,135"
6,Chhattisgarh,€97.68,€125.64,€235.25,€481.39,"1,103,835","13,914"
7,None,None,None,None,None,None,None
8,None,None,None,None,None,None,None
9,Delhi,€303.49,€475.69,€844.41,"€1,697.15","1,803,251","25,952"
10,Goa,€308.93,€511.44,€990.74,"€1,964.89","231,989","3,727"
11,Gujarat,€188.89,€215.08,€441.80,€906.12,"1,123,499","10,614"
12,Haryana,€194.25,€299.17,€494.77,"€1,097.51","934,090","10,372"
13,Himachal Pradesh,€139.86,€266.57,€432.09,€798.67,"263,931","4,026"
14,Jammu and Kashmir,€101.35,€166.85,€271.77,€468.80,"415,109","4,702"
15,Jharkhand,€84.61,€120.98,€214.31,€406.03,"422,440","5,308"
16,Karnataka,€131.00,€201.08,€338.98,€782.93,"3,713,343","39,250"
17,Kerala,€155.30,€234.98,€432.19,€817.92,"5,786,949","57,296"
18,None,None,None,None,None,None,None
19,Madhya Pradesh,€103.13,€138.72,€194.48,€379.51,"933,382","10,648"
20,Maharashtra,€208.67,€266.36,€490.74,€992.34,"7,491,759","142,940"
21,Manipur,€92.62,€144.64,€236.82,€331.36,"128,494","2,057"
22,Meghalaya,€108.09,€183.09,€291.01,€511.80,"88,644","1,538"
23,Mizoram,€142.78,€208.46,€312.21,€595.88,"167,853",621
24,Nagaland,€138.05,€190.06,€395.17,€649.98,"33,235",737
25,Odisha,€76.57,€122.24,€220.39,€462.35,"1,228,976","8,689"
26,Puducherry,€217.87,€420.92,€785.90,"€1,181.95","156,159","1,946"
27,Punjab,€202.93,€326.04,€423.31,€813.70,"718,559","17,392"
28,Rajasthan,€118.13,€152.26,€237.10,€522.07,"1,170,849","9,353"
29,Sikkim,€132.52,€188.01,€353.77,"€1,274.33","37,437",433
30,Tamil Nadu,€136.47,€214.52,€365.31,€727.97,"3,204,213","37,696"
31,Tripura,€94.83,€186.91,€311.86,€538.51,"98,537",916
32,Uttar Pradesh,€87.43,€114.93,€166.30,€312.21,"1,978,525","23,286"
33,Uttarakhand,€109.15,€178.74,€344.29,€863.25,"399,156","7,596"
34,West Bengal,€115.27,€193.92,€289.08,€552.49,"1,962,721","20,758"

### VISUALIZATION!!! IMPORTANT

### Finally, close connection:

In [ ]:
#cnx.close()