## 3_LOAD

##### Tools

In [3]:
import mysql.connector as mysql # Stablish connection to MySQL

from mysql.connector import MySQLConnection # Using class for cunction 


import mysql.connector as conn # Calling config files???

#from python_to_myql_config import read_db_config

import pandas as pd

import csv

## ANTES DE CONTINUAR RESOLVER ESTAS DUDAS!!! INTENTA POR TU CUENTA, DESPUES CONTINUA.

** EN MySQL Workbench, APARECEN LAS COLUMNAS, PERO NO APARECEN LOS DATOS DENTRO DE LAS COLUMNAS Y EN LA QUERY REALIZADA A LA TABLA DE India_population, PARECE QUE FUNCIONÃ“. INVESTIGAR:

* MI QUESTION ES, LA PRIMARY KEY, QUE COMPARTIRAN LAS TRES TABLAS, SE DEBE DEFINIR EN TODAS LAS TABLAS ??, SI ES ASI, TENGO QUE BORRAR LA TABLA ANTERIOR ( MIRAR COMO SE BORRA UNA TABLA, Y VOLVER A CREARLA, ESTA VEZ CON LA PK, DEFINIDA. 

* Por otro lado, la columna de paises que sera las que las tres tablas coompartan, la debere subir en a todas las tablas o por lo contrario, solo la subo una vez y una vez dentro, ya las connecto. Importante antes de seguir con el proceso!!!

* VALUES(%s,%s,%s,%s,%s,%s,%s,%s), las %s seria por cada valor en columna, o que significa?? INVESTIGAR!!!!

**CREO NUEVA BASE DE DATOS, LLAMADA india**

In [ ]:
#mycursor.execute('create database india')

Stablishing connection:

In [16]:
cnx = conn.connect(host='localhost',
                  user='root',
                  password='admin',
                  database= 'india')
#stablishing connection



mycursor = cnx.cursor() # Cursor, allows us to do queries,send/retrive data

# To close connection use:  cnx.close()

In [ ]:
# IS THE SAME AS 'mymursor' db_config = cnx.cursor() #User credentials

**Upload data**

**Create Data Base**

* India Population Growth:

**Create Table in MySQL:** 
** Question: is it okey to put NOT NULL in every column, or is not nessesary?

In [17]:
sql_1 = """ CREATE TABLE India_population(States_India TEXT(50), 
year_1951 VARCHAR(50), year_1961 VARCHAR(50), year_1971 VARCHAR(50),
year_1981 VARCHAR(50), year_1991 VARCHAR(50), year_2001 VARCHAR(50), year_2011 VARCHAR(50))

"""

mycursor.execute(sql_1)

In [18]:
mycursor.execute('SHOW TABLES')
mycursor.fetchall()

[('India_population',)]

In [43]:
df_popul=pd.read_csv('data/DF_India_Population.csv')

mycursor.executemany("""
INSERT INTO India_population(States_India, 
year_1951, year_1961, year_1971,year_1981, 
year_1991, year_2001, year_2011) VALUES(%s,%s,%s,%s,%s,%s,%s,%s)
""", list(df_popul.values))

In [44]:
mycursor.execute('select * from India_population ')
len(mycursor.fetchall())

35

* India Net State Domestic Product Per Capita.

In [ ]:
sql_2 = """ CREATE TABLE India_(States_India TEXT(50), 
year_1951 VARCHAR(50), year_1961 VARCHAR(50), year_1971 VARCHAR(50),
year_1981 VARCHAR(50), year_1991 VARCHAR(50), year_2001 VARCHAR(50), year_2011 VARCHAR(50))

"""

mycursor.execute(sql_1)